<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="miConexion"
             connectionString="Data Source=Gustavo\SQLEXPRESS;Initial Catalog=GestionComunitaria;Integrated Security=True"
             providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>